<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>calculator</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <form action="#" method="GET">
        <table>
            <tr>
                <td>
                    <label for="">Number 1</label>
                </td>
                <td>
                    <input type="number" name="number1" id="" placeholder="num1">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Number 2</label>
                </td>
                <td>
                    <input type="number" name="number2" id="" placeholder="num2">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="sight" id="" value="1" checked>
                </td>
                <td>
                    <label for="">+</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="sight" id="" value="2">
                </td>
                <td>
                    <label for="">-</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="sight" id="" value="3">
                </td>
                <td>
                    <label for="">*</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="sight" id="" value="4">
                </td>
                <td>
                    <label for="">/</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="sight" id="" value="5">
                </td>
                <td>
                    <label for="">%</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Answer : </label>
                </td>
                <td>
                    <input type="number" name="" id="" placeholder="Answer" value="{{answer}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="submit">
                </td>
                <td>
                    <input type="reset" value="reset">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="./">home</a>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>