<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>check</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <table>
        <tr>
            <td>
                <label for="">{{check}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">{{user}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">{{pass}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">
                    <a href="/login">back</a>
                    <br>
                    <a href="./">home</a>
                </label>
            </td>
        </tr>
    </table>

</body>

</html>