<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <table>
        <tr>
            <td>{{title}}</td>
        </tr>
        <tr>
            <td id="menu">
                <script>
                    var index =['calculator','login'];
                    var i=1;
                    for (var text in index) {
                        document.writeln('<a href="./'+index[text]+'">'+(i++  )+'.'+index[text]+'</a><br>');
                    }
                </script>
            </td>
        </tr>
    </table>

</body>

</html>