<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <form action="./check" method="GET">
        <table>
            <tr>
                <td>{{title}}</td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="user">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="submit">
                    <input type="reset" value="reset">
                </td>
            </tr>
            <tr>
                <td><a href="./">home</a></td>
            </tr>
        </table>
    </form>
</body>

</html>